# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.sln.bak

bin/
bin-int/

!Dependencies/premake/**/*.exe
!Dependencies/SDL/**/*.lib
!Dependencies/SDL_image/**/*.lib

!Dependencies/SDL/**/*.dll
!Dependencies/SDL_image/**/*.dll



